body {
	margin: 0 auto;
	overflow: hidden;
}
.sjs {
	position: absolute;
	background: #f1f4fe;
	border: 1px #333 solid;
	z-index: -1;
}

#ui_wrapper {
	font-family: 'Open Sans', sans-serif;
	color: white;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	text-align: center;
	text-shadow: black 2px 2px;
}

#options_header {
	position: absolute;
	left: 10px;
	top: 5px;
}

#options_header {
	position: absolute;
	left: 10px;
	top: 5px;
}

#sprites_view {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 50%;
}

#time_controls {
	position: relative;
	display: inline-block;
}
#time_speed_label {
	display: inline-block;
}
#time_speed_label:after {
	content: "%";
}

.workerImages {
	position: absolute;
	left: -236px;
	bottom: -38px;
}
.workerImages>img {
	display: none;
}
.itable, .itr, .itd {
	border: 1px #000 solid;
	background: #5E8DC0;
	color: white;
	border-collapse:collapse;
}
.ptable, .ptr, .ptd {
	border: 1px #000 solid;
	border-collapse:collapse;
}

.site_tile {
	display: inline-block;
	margin-top: 20px;
	text-align: center;
	vertical-align: middle;
	width: 400px;
	height: 500px;
	background-color: rgba(121, 202, 100, 0.4);
	border-radius: 5px 5px;
	font-weight: bold;
}

.site_tile>.info-popup {
	margin-top: 100px;
}

.site_tile.schedule-behind {
	background-color: rgba(200, 202, 100, 0.4);
}

.site_tile.schedule-very-behind {
	background-color: rgba(214, 73, 73, 0.4);
}

#main_content,#game_state_box {
    background: rgba(0, 0, 0, .8);
}

.site_indicator {
	position: relative;
	top: 2px;
	left: 5px;
	display: inline-block;
	border-radius: 50%;
	width: 15px;
	height: 15px;
}

.site_indicator.schedule-ok {
	background-color: green;
}

.site_indicator.schedule-behind {
	background-color: yellow;
}

.site_indicator.schedule-very-behind {
	background-color: red;
}



.status_table {
    width: 100%;
    margin: 0px auto;
}

button {
	text-shadow: black 1px 1px;
	background: #5E8DC0;
	color: white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	border: 0;
	margin: 0.5em 0 0 0.5em;
	font-family: inherit;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 0.8em;
	line-height: 1em;
	padding: 0.5em 1.5em;
	-webkit-appearance: none;
	cursor: pointer;
}

button:disabled {
	background: #9FB2C7;
}

