{{#state.sites:i}}
<div class="site_tile {{ statusClass(modules) }}" data-name="{{name}}">
    <p>{{name}} {{local_time}}:00</p>
	<button class="info-popup">Inspect Site</button>	
	<button class="info-popup-nonhome">Visit Site: -1000 dollars</button>
	<button class="info-popup-email">Send 'on schedule' email: Free</button>
	<button class="info-popup-status">Send 'status report' email: -100 dollars</button>
	<button class="info-popup-tasks">Send 'completed tasks' email: -500 dollars</button>	
</div>
{{/state.sites}}
