{{#state.sites:i}}
<div class="site_tile {{ statusClass(.) }}" data-name="{{name}}">
    <p>{{name}} {{time_padder}}{{local_time}}:00</p>
    <table class="status_table">
        <tr>
            <td>Name:</td>
            {{#modules}}
            <td>{{name}}</td>
            {{/modules}}
        </tr>
        <tr>
            <td>Dev Method:</td>
            {{#modules}}
            <td>{{development_type}}</td>
            {{/modules}}
        </tr>
        <tr>
            <td>Workers:</td>
            {{#modules}}
            <td>{{assigned}}</td>
            {{/modules}}
        </tr>
        <tr>
            <td>Stage:</td>
            {{#modules}}
            <td>{{currentTask(tasks).name}}</td>
            {{/modules}}
        </tr>
        <tr>
            <td>Stage Progress</td>
            {{#modules:i}}
            <td>{{ Math.ceil(progress(modules[i])) }} / {{ Math.ceil(current_total(modules[i])) }} days</td>
            {{/modules}}
        </tr>
    </table>
    <button class="info-popup">Inspect Site</button>	
    <button class="info-popup-nonhome">Visit Site: -$1000</button>
    <button class="info-popup-email">Send 'on schedule' email: Free</button>
    <button class="info-popup-status">Send 'status report' email: -$100</button>
    <button class="info-popup-tasks">Send 'completed tasks' email: -$500</button>	
	<button class="info-popup-problems">Problems Encountered</button>
</div>
{{/state.sites}}
